.input-email{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
    width: 300px;
    outline: 0;
    border-radius: 0;
    color: rgb(0, 0, 0);
}
.container-input-email{
    position: relative;
    margin-top: 20px;
}

label{
    position: absolute;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.658);
    left: 0px;
    top: -2px;
    transition: 0.2s;
    cursor:auto;
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: italic;

}
.container-input-email .input-email:focus ~ label,
.container-input-email .input-email:not(:placeholder-shown) ~ label{
    transform: translateY(-15px);
    font-size: 14px;
    color:#000000;
    background-color: transparent;
}
