<form (ngSubmit)="submit()" [formGroup]="form" action="">
    <app-input-email formControlName="email"></app-input-email>
    <div *ngIf="errors$ | async as error">
        <div *ngIf="error" class="error">
          {{ error['Email'][0] }}
        </div>
      </div>
    <app-input-password formControlName="password"></app-input-password>
    <div *ngIf="errors$ | async as error">
        <div *ngIf="error['Password']" class="error">
          {{ error['Password'][0] }}
        </div>
      </div>
    <app-button-auth [buttonText]="buttonText"></app-button-auth>
</form>
