<div class="container-input-password">
    <input class="input-password" required [type]="inputType" name="" id="password" placeholder="" [(ngModel)]="value" (input)="onChange && onChange(value)" (focus)="onTouched && onTouched()">
    <label for="password">Password</label>
    <img class="olho" [class]="{'show-eye' : showEye}" src="/images/olho.png" alt="olho" (click)="showPassword()">
    <img class="olho" [class]="{'show-eye' : !showEye}" src="/images/olhofechado.png" alt="olhofechado" (click)="showPassword()">
</div>

